
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
background-image: linear-gradient(95deg, #B0BC98, #87A878);
background-attachment: 100%;
font: normal 25pt Arial;
}

#botao:hover{
background-color: #d3ccd0;
}

#botao{
background-color: white;
border: 1px solid #333;
border-radius: 5px;
}

.numero{
border: 1px solid #333;
}

div#container{
display: flexbox;
text-align: center;
}

input{
font: normal 10pt Arial;
width: 75px;
height: 20px;
line-height: 2px;
margin-bottom: 15pt;
}
